.validation{
    visibility: hidden;
    &--visible{
        visibility: visible;
        height: 500px;
        background-color: green;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.contact-container__input{
    display: flex;
    flex-direction: column;
}