@import "../components/styles/utils/keyframes.scss";

@font-face {
  font-family: 'Sans Pro 3';
  src: url('../../public/font/SourceSans3-VariableFont_wght.ttf') format('truetype'),
    url('../../public/font/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype'),
    url('../../public/font/SourceSans3-ExtraBold.ttf') format('truetype'),
    url('../../public/font/SourceSans3-Bold.ttf') format('truetype');
}

html,
body {
  background-color: #F7F7F7;
  color: #252122;
  font-family: 'Sans Pro 3', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  height:100%;
}

.page-container {
  min-height: 80%
}

h2 {
  padding-left: 20px;
}

.main-bloc{
  animation: body-transform-reverse 300ms cubic-bezier(0, .68, .88, .64) forwards;
  &--transform{
    animation: body-transform 300ms cubic-bezier(0, .68, .88, .64) forwards;
  }
}
