@import "../styles/utils/mixin.scss"; 
@import "../styles/utils/keyframes.scss";

.header{
    display: flex;
    flex-direction: column;
}

.header-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    border-bottom: solid 1px #CCCC;
}

nav{
    display: flex;
    flex-direction: column; 
}

.header-list
{   
    @include header-list(); 
    animation: header-transform-reverse 300ms cubic-bezier(0, .68, .88, .64) forwards;

    &--visible{
        @include header-list(); 
        left: 0px;
        animation: header-transform 300ms cubic-bezier(0, .68, .88, .64) forwards;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

nav a{
    text-decoration: none;
    color: white;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #2196F3;
    }
}


// logo "liste" de fontawsome qui permet de déclancher la bare de navigation 
.header-title__list{
    width: 50px;
    height: 50px;
    background-color: #FFFF;
    border: solid 1px #CCCC;
    border-radius: 15px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

    &:hover{
        background-color: #F7F7F7;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    }

    &:active{
        background-color: #FFFF;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
    }

    .logo{
        font-size: 30px;
    }
}