
.screen-printing{
    .screen-printing__choice{
        margin: 15px 0px 15px 15px;
        background-color: #FFFF;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
        width: 95%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
